<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
    <%= link_to "JDL", posts_path, id: "logo" %>
    <nav>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'New Post', new_post_path %> |
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",    posts_path %></li>
          <li><%= link_to "Log in", 'login' %></li>
        </ul>
      </nav>
    </div>
  </header>